<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cg20</title>
    <!-- Box Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="overlay">
        <nav>
            <header>
                <h2><span></span></h2>
                <img src="images/logo.png" class="logo">
            </header>
            
            <ul id="navMenu">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Schools</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="toggleMenu">
                <i class="bx bx-menu-alt-right" id="rightMenu"></i>
            </div>
        </nav>
        <div class="container">
            <div class="contentBox">
               <div style="left: 40px;position: relative;width: 100%;">
                <h3>SCHOOL ENGINE: PORTAL TO YOUR DREAM SCHOOL</h3>
                <p>Our school Engine webpage is designed to help students and parents easily find and compare schools based on their individual needs and preferences. Our platform provides a comprehensive database of schools with detailed information on their location, affiliation, facillities provided and more. We use advanced search filters and algorithms to ensure accurate and relevant search results. Our goal is to make the school search process as efficient and stress-free as possible.</p></div>
                    <div style="position: absolute; top: 60px;width: 300px;left: 430px;margin-top: 25%;">  
                        <a href="#">FIND MY DREAM SCHOOL</a>
                    </div>
            </div>
        </div>
</div>
    <footer>
  <ul>
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    <li><p>&copy; 2026  Pratik Yadav &copy All rights reserved.</p></li>
  </ul>
  </footer>
  <script src="main.js"></script>
    </body>
</html>