<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>Login-EDEMO</title>
  <link rel="stylesheet" href="css/loginStyles.css">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet">

  <!-- fontawesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/"><p class="logo-text">EDEMO</p></a>
        </nav>
    </div>
    <div class="login-div">
        <form style="width: 10%;" action="/login" method="post">
            <input class="field" type="text" name="username"  placeholder="Username" required><br>
            <input class="field" style="position: relative; top: 1.1rem;" type="password" name="password" placeholder="Password" required><br>
            <button class="loginBtn btn btn-success" type="submit">Login</button>
        </form>
        <br>
        <form style="width: 50%;" action="/register" method="get">
            <button class="regBtn btn btn-primary" type="submit">Register here</button>
        </form>
    </div>
</body>
</html>
