*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: zero;
    color: black;
    font-family: "poppins", sans-serif;
    padding-top: 9rem;
    font-size: 12.5px;
    min-height: 50vh;
    text-align: center;
}
.filterTitle{
  font-size: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 0.9rem;
}
.filters{
  border-style: none;
  position: relative;
  left: 3rem;
}
.applyFilter{
  position: relative;
  right: 1rem;
  bottom: 0.6rem;
  width: 60%;
  background-color: #9D1B9F;
  border-radius: 5%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: white;
  border-style: none;
}
div{
    display: block;
    font-weight: 25;
    margin-bottom: 5px;
}
input[type="checkbox"]{
  position: relative;
  bottom: 1.2rem;
    display: block;
    content: "\2714";
    border: 2px solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    padding-left: 02em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
}
label span{
    display: inline-flex;
    align-items: left;
     padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: .25s ease;
    font-size: 0.9rem;
}
.typeSchool{
  position: relative;
  bottom: 1.4rem;
  font-size: 0.9rem;
}
.typestudy{
    position: relative;
    bottom: 1.4rem;
    font-size: 0.9rem;
}
.facility{
    position: relative;
    bottom: 1.4rem;
    font-size: 0.9rem;
}
input{
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}
footer {
    background: #CB75CF;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; 
    color: #fff;
    padding: 20px;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li {
    display: inline-block;
    margin: 0 10px;
}
footer ul li a {
    color: #fff;
    font-size: 24px;
}
footer p {
    margin-top: 5px;
    font-size: 14px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    width: 100%;
    background-color: #fff;
    padding: 0.1rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
}
.searchBar{
    position: relative;
    left: 30rem;
    top:35px ;
}
.searchInput{
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-radius: 10%;
    border-color: #9D1B9F;
    border-width: 2px;
    width: 30%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
}
.logo{
    position: absolute;
    height: 100px;
    top: 15px;
    left: 50px;
    width: 100px;
    border-radius: 65%;
}
.cards {
    position: relative;
    left: 25rem;
    overflow: hidden;
    width: 230px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    margin-top: -32rem;

}
/*.card p{
      font-size: 0.6rem;
      letter-spacing: 1px;
      margin-top: 2rem;
      font-size: 0.8rem;
}
.card h1 {
    font-size: 1.5em;
    color: #9D1B9F;
    margin-top: -3.5rem;
    display: flex;
    margin-left: -110px;
    font-size: 23px;
    font-weight: 100px;
}*/
img {
    width: 240px;
    margin-top: 0px;
    height: 145px;
    margin-left: 0px;
  }
  
  .card {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 60%;
  }
.desc {
    text-transform: none;
    letter-spacing: 0;
    margin-top: 40px;
    color: #100011;
    font-size: 1rem;
    line-height: 1.6em;
    margin-left: -125px;
    text-align: justify;
}
.cards:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card{
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}
/*.buttons{
    margin-left: -6.4rem;
    margin-top: 1.5rem;
}
.box{
    margin-left: -2rem;
    box-sizing: border-box;
    width: 6.8rem;
    cursor: pointer;
   border-radius: 10px;
   overflow: hidden;
  height: 35px;
  position: relative;
  background: #CB75CF;
  padding: 0px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
}*/
  
  