*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}


body{
    /* background-image: url("https://media.istockphoto.com/id/1313116746/photo/texture-banner-neutral-fabric-background-panoramic.jpg?s=612x612&w=0&k=20&c=65jF2dT9swg9SSYGsLGDqoNwPI3XOYpqAk02PuZDCAE="); */
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: zero;
    color: black;
    font-family: "poppins", sans-serif;
    padding-top: 9rem;
    font-size: 12.5px;
    min-height: 50vh;
}
.radio-section{
    display: flex;
    align-items: left;
    justify-content: left;

}

.filterTitle{
  font-size: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 0.9rem;
  
}

.filters{
  border-style: none;
  position: relative;
  left: 3rem;
  margin-right: 0;
}

.applyFilters{
  position: relative;
  right: 1rem;
  bottom: 2rem;
  width: 30%;
  background-color: #CB75CF;
  border-radius: 5%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: white;
  border-style: none;
}

input[type="radio"]{
    display: none;
}
div{
    display: block;
    font-weight: 25;
    margin-bottom: 5px;
}
.checked{
    height: 100vh;
    align-items: left;
    justify-content: left;
    margin: 0.2em;
    font-size: 100%;
    color: #450563;
 }
input[type="checkbox"]{
  position: relative;
  bottom: 1.2rem;
    display: block;
    content: "\2714";
    border: 2px solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    padding-left: 02em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    background-color: #450563;
    /* color: #450563; */
    }
    .checked:check {
      background-color: #450563;
    }
  
.facility{
  position: relative;
  bottom: 1.4rem;
  font-size: 0.9rem;
}
    
label span{
    display: inline-flex;
    align-items: left;
     padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: .25s ease;
    font-size: 0.9rem;
}

label span:hover,
input[type="radio"]:checked + span{
    background-color: #CB75CF;
}
.typeSchool{
  position: relative;
  bottom: 1.4rem;
  font-size: 0.9rem;
}

label span:before{
    content: "";
    background-color: #FDF7F2;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin-right: 10px;
    transition: .25s ease;
    box-shadow:  inset 0 0 0 2px #9D1B9F;
    font-size: 1px;
}
/* .btn{
    font-family: serif;
    font-size: 18px
    font-weight: bold;
    background: #7556b7;
    width: 120px;
    padding:  10px 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    color: #0d0d0d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
} */
/* .btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    
} */
.box{
    background-color: #450563;
    width: 330px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: opx 25px;
}
input{
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

footer {
    background: #7556b7;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; 
    color: #fff;
    padding: 20px;
    
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer ul li a {
    color: #fff;
    font-size: 24px;
  }
  
  footer p {
    margin-top: 5px;
    font-size: 14px;
  }
  .container{
    width: 80%;
    margin: 0 auto;
  }
  nav{
    width: 100%;
    background-color: #7556b7;
    padding: 0.1rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;

  }
  nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
  }
  
  .searchBar{
    position: relative;
    left: 30rem;
  }
  .searchInput{
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-radius: 10%;
    border-color: #CB75CF;
    border-width: 2px;
    width: 30%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
  }

  .container {
    width: 15px;
    height: 15px;
    border: 1px solid #e8dff5;
    color: rgb(216, 183, 238);
    text-align: center;
    color: #6f6969;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
  }
  .logo{
    position: fixed;
    height: fixed;
    top: 10px;
    left: 50px;
    width: 80px;
    border-radius: 50%;
}
